<!div class='employee'>
    <div class="inner">
        Employee List
    </div>
    <div class='body'>
        <div class="inner">
            <div> Filter by:</div>
            <div>
            </div>
                <input type="input"/>
        </div>
        <div class="inner">
            <div>
                <h4>Filtered by:</h4>
            </div>
        </div>
    </div>
</div>
<div class='employee-table'>
    <table class='table'>
        <thead>
            <tr>
                <th>
                    <button class='button'>Show Image</button>
                </th>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Salary</th>
                <th>StartDate</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div!>

<h1>Hello Angular</h1>
