<div class='employee-table'>
    <table >
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Salary</th>
                <th>Start Date</th>
            </tr>
        </thead>
        <tbody *ngFor="let employee of employees" class='table'>
            <tr>{{employee.id}}</tr>
            <tr>{{employee.firstName}}</tr>
            <tr>{{employee.firstName}}</tr>
            <tr>{{employee.salary}}</tr>
            <tr>{{employee.startDate}}</tr>
        </tbody>
    </table>
</div>


